<form fxLayout="column" fxLayoutAlign=" start" [formGroup]="rForm" (submit)="save()">
  <mat-form-field>
    <mat-label for="name">Name</mat-label>
    <input matInput
      type="text"
      name="name"
      formControlName="name"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label for="birthdate">surname</mat-label>
    <input matInput
      type="text"
      name="surname"
      formControlName="surname"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label for="birthdate">birthdate</mat-label>
    <input matInput
      type="text"
      name="birthdate"
      formControlName="birthdate"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label for="phone">phone</mat-label>
    <input matInput
      type="text"
      name="phone"
      formControlName="phone"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label for="phone2">phone2</mat-label>
    <input matInput
      type="text"
      name="phone2"
      formControlName="phone2"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label for="level">Tipo de documento</mat-label>
    <mat-select
      [compareWith]="compareByUID"
      name="documentType"
      formControlName="documentType"
    >
      <mat-option
        [value]="documentType"
        *ngFor="let documentType of documentsType"
      >
        {{ documentType.name }}</mat-option
      >
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label for="documentNumber">documentNumber</mat-label>
    <input matInput
      type="text"
      name="documentNumber"
      formControlName="documentNumber"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label for="street">Calle</mat-label>
    <input matInput
      type="text"
      name="street"
      formControlName="street"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label for="level">Provincia</mat-label>
    <mat-select
      [compareWith]="compareByUID"
      name="province"
      formControlName="province"
    >
      <mat-option [value]="province" *ngFor="let province of provinces">
        {{ province.name }}</mat-option
      >
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label for="level">Municipio</mat-label>
    <mat-select
      [compareWith]="compareByUID"
      name="municipe"
      formControlName="municipe"
    >
      <mat-option [value]="municipe" *ngFor="let municipe of municipes">
        {{ municipe.name }}</mat-option
      >
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label for="aboutMe">Acerca de mi</mat-label>
    <textarea matInput
      name="aboutMe"
      formControlName="aboutMe"
    ></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label for="otherCompetences">Otras competencias</mat-label>
    <textarea matInput
      name="otherCompetences"
      formControlName="otherCompetences"
    ></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label for="license">Licencias</mat-label>
    <textarea matInput
      name="license"
      formControlName="license"
    ></textarea>
  </mat-form-field>
  <!--   <div class="form-group">
    <label for="level">Nivel</label>
    <select
      [compareWith]="compareLevel"
      name="level"
      formControlName="level"
    >
      <option [ngValue]="level" *ngFor="let level of languageLevels">
        {{ level.name }}</option
      >
    </select>
  </div>

  <div class="form-group">
    <label for="name">Idioma</label>
    <select
      class="col-sm-10 form-control"
      name="name"
      formControlName="name"
      [compareWith]="compareName"
    >
      <option [ngValue]="name" *ngFor="let name of languageNames">
        {{ name.name }}</option
      >
    </select>
  </div>

  <div class="form-group">
    <label for="date">Fecha de obtención del título</label>
    <input matInput
      type="text"
      name="date"
      class="col-sm-10 form-control"
      formControlName="date"
    />
  </div> -->

  <button mat-raised-button color="primary" type="submit" [disabled]="rForm.invalid">
    Guardar
  </button>
</form>
