<form fxLayout="column" fxLayoutAlign=" start" [formGroup]="rForm" (submit)="submit()">
  <mat-form-field>
    <mat-label for="institution">Centro educativo</mat-label>
    <input matInput
      type="text"
      name="institution"
      formControlName="institution"
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label for="title">Título</mat-label>
    <input matInput
      type="text"
      name="title"
      formControlName="title"
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label for="date">Fecha de obtención del título</mat-label>
    <input matInput
      type="text"
      name="date"
      formControlName="date"
    />
  </mat-form-field>

  <mat-checkbox name="bilingue"formControlName="bilingue">Bilingue</mat-checkbox>

  <button mat-raised-button color="primary" type="submit" [disabled]="rForm.invalid">
    Guardar
  </button>
</form>
