<form [formGroup]="forgotPasswordForm" (ngSubmit)="recoverPassword()">
  <fieldset>
    <img src="assets/uoc-logo.png" alt="Logo de la UOC">
    <p>Indique su correo electrónico para recibir las instrucciones de recuperación su contraseña.</p>
    <label for="email">Email</label>
    <input type="text" name="email" id="email" [formControl]="email">
    <div class="float-right">
      <a [routerLink]="'/'" class="button button-outline">Volver</a>
    </div>
    <button [disabled]="forgotPasswordForm.invalid || running" class="button ld-over-inverse" [class.running]="running">
      Recuperar contraseña
      <div [hidden]="running" class="ld ld-ball ld-flip"></div></button>
  </fieldset>
</form>
