<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <img src="/assets/img/uoc_logo.png" />

      <h2>Recordar contraseña</h2>

      <form [formGroup]="forgotPasswordForm" (ngSubmit)="recoverPassword()">

	      <p>Indique su correo electrónico para recibir las instrucciones de recuperación su contraseña.</p>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="text"
            id="email"
            formControlName="email"
            class="form-control"
            [ngClass]="{
              'is-invalid': submitted && forgotPasswordForm.controls.email.errors
            }"
          />
        </div>
        <div class="form-group">
          <button [disabled]="forgotPasswordForm.invalid" class="btn btn-primary">
            Recuperar contraseña
          </button>
          <a routerLink="/" class="btn btn-link"
            >Volver</a
          >
        </div>
      </form>
    </div>
  </div>
</div>
