<h3 class="mat-h3">Mis Ofertas</h3>

<mat-table [dataSource]="offers" class="mat-elevation-z8">

  <ng-container matColumnDef="job.name">
    <mat-header-cell *matHeaderCellDef> Puesto </mat-header-cell>
    <mat-cell *matCellDef="let offer"> {{ offer.job.name }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="company.name">
    <mat-header-cell *matHeaderCellDef> Empresa </mat-header-cell>
    <mat-cell *matCellDef="let offer"> {{ offer.company.name }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="category.name">
    <mat-header-cell *matHeaderCellDef> Familia </mat-header-cell>
    <mat-cell *matCellDef="let offer"> {{ offer.category.name }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
    <mat-cell *matCellDef="let offer"> {{ offer.date }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="province.name">
    <mat-header-cell *matHeaderCellDef> Provincia </mat-header-cell>
    <mat-cell *matCellDef="let offer"> {{ offer.province.name }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="municipe.name">
    <mat-header-cell *matHeaderCellDef> Municipio </mat-header-cell>
    <mat-cell *matCellDef="let offer"> {{ offer.municipe.name }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
    <mat-cell *matCellDef="let offer">
      <a style="cursor:pointer" [routerLink]="['/admin/offers/', offer.id]"> <mat-icon class="sidenav-icon">input</mat-icon> </a>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>



