<h1 *ngIf="!editing">Nuevo estudio</h1>
<h1 *ngIf="editing">Editar estudio</h1>

<form [formGroup]="studiesForm" (ngSubmit)="save()">
  <div class="row">
    <div class="column">
      <label for="level">Tipo de estudio</label>
      <select id="level" name="level" [(ngModel)]="level" (change)="onChangeLevel($event)" [ngModelOptions]="{standalone: true}" [compareWith]="compareById">
        <option *ngFor="let studylevel of levels" [ngValue]="studylevel">{{studylevel.name}}</option>
      </select>
    </div>
  </div>

  <ng-container *ngIf="level.name == 'Título universitario'">
  <div class="row">
    <div class="column">
      <label for="institution">Nombre del centro</label>
      <input formControlName="institution" id="institution" name="institution" type="text">
      <div *ngIf="error('institution', 'required')" class="error-message" >Campo obligatorio</div>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <label for="title">Título</label>
      <input formControlName="title" id="title" name="title" type="text">
      <div *ngIf="error('title', 'required')" class="error-message" >Campo obligatorio</div>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <label for="date">Fecha del título</label>
      <input formControlName="date" type="text" id="date" name="date">
      <div *ngIf="error('date', 'validDate')" class="error-message">El formato de fecha debe ser DD/MM/YYYY</div>
      <div *ngIf="error('date', 'required')" class="error-message" >Campo obligatorio</div>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <label for="bilingue">Formación bilingüe</label>
      <input formControlName="bilingue" id="bilingue" name="bilingue" type="checkbox">
    </div>
  </div>
  <div class="row">
    <div class="column">
      <label>Certificado</label>
      <input type="file">
    </div>
  </div>
  </ng-container>

  <ng-container *ngIf="level.name == 'Ciclo Formativo'">
    <div class="row">
    <div class="column">
      <label for="institution">Centro educativo</label>
      <select formControlName="institution" id="institution" name="institution" [compareWith]="compareById">
        <option *ngFor="let institutionValue of institutions" [ngValue]="institutionValue">{{institutionValue.name}}</option>
      </select>
      <div *ngIf="error('institution', 'required')" class="error-message" >Campo obligatorio</div>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <label class="category">Familia profesional</label>
      <select formControlName="category" id="category" name="category" [compareWith]="compareById">
        <option *ngFor="let categoryValue of categories" [ngValue]="categoryValue">{{categoryValue.name}}</option>
      </select>
      <div *ngIf="error('category', 'required')" class="error-message" >Campo obligatorio</div>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <label for="grade">Grado</label>
      <select formControlName="grade" id="grade" name="grade" [compareWith]="compareById">
        <option *ngFor="let gradeValue of grades" [ngValue]="gradeValue">{{gradeValue.name}}</option>
      </select>
      <div *ngIf="error('grade', 'required')" class="error-message" >Campo obligatorio</div>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <label for="title">Ciclo</label>
      <select formControlName="title" id="title" name="title" [compareWith]="compareById">
        <option *ngFor="let titleValue of titleStudies" [ngValue]="titleValue">{{titleValue.name}}</option>
      </select>
      <div *ngIf="error('title', 'required')" class="error-message" >Campo obligatorio</div>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <label for="date">Fecha del título</label>
      <input formControlName="date" id="date" name="date" type="text">
      <div *ngIf="error('date', 'validDate')" class="error-message">El formato de fecha debe ser DD/MM/YYYY</div>
      <div *ngIf="error('date', 'required')" class="error-message">Campo obligatorio</div>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <label for="dual">Formación dual</label>
      <input formControlName="dual" id="dual" name="dual" type="checkbox">
    </div>
  </div>
  <div class="row">
    <div class="column">
      <label for="bilingue">Formación bilingüe</label>
      <input formControlName="bilingue" id="bilingue" name="bilingue" type="checkbox">
    </div>
  </div>
  <div class="row">
    <div class="column">
      <label>Certificado</label>
      <input type="file">
    </div>
  </div>
  </ng-container>

  <ng-container *ngIf="level.name == 'Otros'">
  <div class="row">
    <div class="column">
      <label for="title">Título</label>
      <input formControlName="title" id="title" name="title" type="text">
      <div *ngIf="error('title', 'required')" class="error-message" >Campo obligatorio</div>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <label for="date">Fecha del título</label>
      <input formControlName="date" id="date" name="date" type="text">
      <div *ngIf="error('date', 'validDate')" class="error-message">El formato de fecha debe ser DD/MM/YYYY</div>
      <div *ngIf="error('date', 'required')" class="error-message" >Campo obligatorio</div>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <label for="bilingue">Formación bilingüe</label>
      <input formControlName="bilingue" id="bilingue" name="bilingue" type="checkbox">
    </div>
  </div>
  <div class="row">
    <div class="column">
      <label>Certificado</label>
      <input type="file">
    </div>
  </div>  
  </ng-container>
  
  <hr>



  <div class="float-right">
    <a [routerLink]="'/profile/studies'" class="button button-outline">Volver</a>
  </div>
  <button *ngIf="!editing" [disabled]="studiesForm.invalid || saving" class="button ld-over-inverse" [class.running]="saving">
    Crear
    <div class="ld ld-ball ld-flip"></div>
  </button>
  <button *ngIf="editing" [disabled]="studiesForm.invalid || saving" class="button ld-over-inverse" [class.running]="saving">
    Guardar
    <div class="ld ld-ball ld-flip"></div>
  </button>
</form>
