<div *ngIf="user" id="contenido">
  <div class="float-left" id="foto-perfil">
    <div>
      <img
        class="img-fluid img-profile rounded-circle mx-auto mb-2"
        src="{{ user.avatar_hash }}"
      />
    </div>
    <div class="text-center pr-5">
      {{ user.name + ' ' + user.surname }}
    </div>
  </div>

  <section id="datosPersonales" class="float-left">
    <table>
      <tbody>
        <tr>
          <th>Email</th>
          <td>{{ user.email }}</td>
        </tr>
        <tr>
          <th>Fecha de nacimiento</th>
          <td>{{ user.birthdate }}</td>
        </tr>
        <tr>
          <th>Tel&eacute;fono</th>
          <td>{{ user.phone }}</td>
        </tr>
        <tr>
          <th>NIF/NIE</th>
          <td>{{ user.documentNumber }}</td>
        </tr>
        <tr>
          <th>Permisos de conducir</th>
          <td>{{ user.license }}</td>
        </tr>
        <tr>
          <th>Direccion</th>
          <td>{{ user.address | json }}</td>
        </tr>
      </tbody>
    </table>
    <a [routerLink]="['/admin/profile/profile-student/account']">Modificar</a>
  </section>
  <div id="otra_info" class="float-left">
    <form>
      <div class="float-left">
        <label for="about-me">Acerca de mi...</label><br />
        <textarea readonly="true" id="about-me" name="about-me">{{
          user.aboutMe
        }}</textarea>
      </div>
      <div class="float-left">
        <label for="other">Otras competencias</label> <br />

        <textarea readonly="true" id="other" name="other">{{
          user.otherCompetences
        }}</textarea>
      </div>
    </form>
  </div>

  <section style="clear:both;padding-bottom:4em;"></section>

  <h2 class="mat-h2">Formaci&oacute;n acad&eacute;mica</h2>
  <section id="formacion_academica">


    <mat-table [dataSource]="user.studies" class="mat-elevation-z8">

      <ng-container matColumnDef="study.level">
        <mat-header-cell *matHeaderCellDef> Tipo </mat-header-cell>
        <mat-cell *matCellDef="let study"> {{ study.level.name }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="study.grade">
        <mat-header-cell *matHeaderCellDef> Nivel </mat-header-cell>
        <mat-cell *matCellDef="let study"> {{ study.grade?.name }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="study.title">
        <mat-header-cell *matHeaderCellDef> T&iacute;tulo </mat-header-cell>
        <mat-cell *matCellDef="let study"> {{ study.title.name || study.title }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="study.institution">
        <mat-header-cell *matHeaderCellDef> Centro </mat-header-cell>
        <mat-cell *matCellDef="let study"> {{ study.institution.name || study.institution }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="study.date">
        <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
        <mat-cell *matCellDef="let study"> {{ study.date }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="study.certificate">
        <mat-header-cell *matHeaderCellDef> Certificado </mat-header-cell>
        <mat-cell *matCellDef="let study"> {{ study.certificate ? 'Sí' : 'No' }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="study.bilingue">
        <mat-header-cell *matHeaderCellDef> Bilingüe </mat-header-cell>
        <mat-cell *matCellDef="let study"> {{ study.bilingue ? 'Sí' : 'No' }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="study.dual">
        <mat-header-cell *matHeaderCellDef> Dual </mat-header-cell>
        <mat-cell *matCellDef="let study"> {{ study.dual ? 'Sí' : 'No' }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
        <mat-cell *matCellDef="let study">
          <a
            [routerLink]="['/admin/profile/profile-student/study', study.uid]"
            ><mat-icon class="sidenav-icon">edit</mat-icon></a
          >
          |
          <a style="cursor:pointer" (click)="deleteStudy(study.uid)"
            ><mat-icon class="sidenav-icon">delete</mat-icon></a
          >
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumnsStudies"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumnsStudies;"></mat-row>
    </mat-table>
    <a mat-raised-button color="primary" [routerLink]="['/admin/profile/profile-student/study']"
      >Nueva formación</a
    >
  </section>

  <h2 class="mat-h2">Idiomas</h2>
  <section id="languages">

  <mat-table [dataSource]="user.languages" class="mat-elevation-z8">

    <ng-container matColumnDef="job.name">
      <mat-header-cell *matHeaderCellDef> Nivel </mat-header-cell>
      <mat-cell *matCellDef="let language"> {{ language.level.name }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="company.name">
      <mat-header-cell *matHeaderCellDef> Idioma </mat-header-cell>
      <mat-cell *matCellDef="let language"> {{ language.name.name }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="category.name">
      <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
      <mat-cell *matCellDef="let language"> {{ language.date }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
      <mat-cell *matCellDef="let language">
        <a
          [routerLink]="[
            '/admin/profile/profile-student/language',
            language.uid
          ]"
          ><mat-icon class="sidenav-icon">edit</mat-icon></a
        >
        |
        <a style="cursor:pointer" (click)="deleteLanguage(language.uid)"
          ><mat-icon class="sidenav-icon">delete</mat-icon></a
        >
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumnsLanguages"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumnsLanguages;"></mat-row>
  </mat-table>
  <a mat-raised-button color="primary" [routerLink]="['/admin/profile/profile-student/language']"
    >Nuevo idioma</a
  >
  </section>
</div>
<div *ngIf="!user" id="contenido">
  <p>Datos están siendo cargados...</p>
</div>