/* Personalización de milligram */

.button-small {
  font-size: .8rem;
  height: 2.8rem;
  line-height: 2.8rem;
  padding: 0 1.5rem;
}

.error-message {
  color: red;
  margin-top: -1rem;
  padding-bottom: 1rem;
  font-size: small;
}

input.ng-dirty.ng-invalid {
  border-color: red !important;
}