<h1>Datos personales</h1>

<form [formGroup]="personalDataForm" (ngSubmit)="save()">
  <div class="row">
    <div class="column column-40">
      <label for="name">Nombre</label>
      <input formControlName="name" type="text" id="name" name="name">
      <div *ngIf="error('name', 'required')" class="error-message" >Campo obligatorio</div>
      <div *ngIf="error('name', 'minlength')" class="error-message">El tamaño mínimo es de 3 caracteres</div>
      <div *ngIf="error('name', 'maxlength')" class="error-message">El tamaño máximo es de 55 caracteres</div>
      <div *ngIf="error('name', 'pattern')" class="error-message">Contiene caracteres inválidos</div>
    </div>
    <div class="column column-60">
      <label for="surname">Apellidos</label>
      <input formControlName="surname" type="text" id="surname" name="surname">
      <div *ngIf="error('surname', 'required')" class="error-message" >Campo obligatorio</div>
      <div *ngIf="error('surname', 'minlength')" class="error-message">El tamaño mínimo es de 3 caracteres</div>
      <div *ngIf="error('surname', 'maxlength')" class="error-message">El tamaño máximo es de 55 caracteres</div>
      <div *ngIf="error('surname', 'pattern')" class="error-message">Contiene caracteres inválidos</div>
    </div>
  </div>
  <div class="row">
    <div class="column column-25">
      <label for="birthdate">Fecha de nacimiento</label>
      <input formControlName="birthdate" type="text" id="birthdate" name="birthdate">
      <div *ngIf="error('birthdate', 'validDate')" class="error-message">El formato de fecha debe ser DD/MM/YYYY</div>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <label for="phone">Teléfono</label>
      <input formControlName="phone" type="text" id="phone" name="phone">
      <div *ngIf="error('phone', 'pattern')" class="error-message">Número de teléfono no válido</div>
    </div>
    <div class="column">
      <label for="phone2">Teléfono 2</label>
      <input formControlName="phone2" type="text" id="phone2" name="phone2">
      <div *ngIf="error('phone2', 'pattern')" class="error-message">Número de teléfono no válido</div>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <label for="documentType">Tipo documento</label>
      <select formControlName="documentType" id="documentType" name="documentType" [compareWith]="compareByUid">
        <option *ngFor="let documentType of documentTypes" [ngValue]="documentType">{{documentType.name}}</option>
      </select>
    </div>
    <div class="column">
      <label for="documentNumber">Número</label>
      <input formControlName="documentNumber" type="text" id="documentNumber" name="documentNumber">
      <div *ngIf="error(null, 'nif')" class="error-message">El NIF/NIE no es válido</div>
    </div>
  </div>
  <ng-container formGroupName="address">
  <label for="street">Dirección</label>
  <input formControlName="street" type="text" id="street" name="street">      
  <div class="row">
    <div class="column">
      <label for="province">Provincia</label>
      <select formControlName="province" id="province" name="province" [compareWith]="compareByUid">
        <option [ngValue]="null"></option>
        <option *ngFor="let province of provinces" [ngValue]="province">{{province.name}}</option>
      </select>
    </div>
    <div class="column">
      <label for="municipe">Municipio</label>
      <select formControlName="municipe" id="municipe" name="municipe" [compareWith]="compareByUid">
        <option [ngValue]="null"></option>
        <option *ngFor="let municipe of municipes" [ngValue]="municipe">{{municipe.name}}</option>
      </select>
    </div>
  </div>
  </ng-container>
  <div class="row">
    <div class="column column-25">
      <label for="license">Permiso de conducir</label>
      <input formControlName="license" type="text" id="license" name="license">
    </div>
  </div>
  <label for="aboutMe">Sobre mí</label>
  <textarea formControlName="aboutMe" id="aboutMe" name="aboutMe"></textarea>
  <label for="otherCompetences">Otras competencias</label>
  <textarea formControlName="otherCompetences" id="otherCompetences" name="otherCompetences"></textarea>

  <hr>

  <div class="float-right">
    <a [routerLink]="'/profile'" class="button button-outline">Volver</a>
  </div>
  <button [disabled]="personalDataForm.invalid || saving" class="button ld-over-inverse" [class.running]="saving">
    Guardar
    <div class="ld ld-ball ld-flip"></div>
  </button>
</form>
